<ion-content [fullscreen]="true">
  <div class="center">
    <ion-card >
      <img src="assets\img\logo2.png" alt="Logo">
      <ion-card-title class="ion-text-center">VideosApp</ion-card-title>
      <ion-item lines="none" >
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item lines="none" >
        <ion-label position="floating">senha</ion-label>
        <ion-input type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>
      <ion-button (click)="login()" expand="full" fill="outline">Entrar</ion-button>
      <ion-button expand="full" fill="clear">Registrar</ion-button>
    </ion-card>
  </div>

</ion-content>
