ion-item {
  ion-thumbnail {
    height: 100%;

    ion-icon {
      font-size: 2rem;
      color: #dcdcdc;
      margin-left: 10px;
    }
  }

  h1 {
    font-weight: bold;
    font-size: 0.8rem;
  }

  p{
    font-size: 0.6rem;
  }

  p+p {
    color: #8a8a8a
  }

  ion-chip {
    border-radius: 50%;
    justify-content: center;
    border-width: 3px;
    padding: 0px 5px;
  }

  ion-badge {
    font-weight: 300;
    font-size: 0.5rem;
    margin-right: 1px;
  }
}
